
.reporter-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;        
  margin-right: 20px;      
  flex: 0 0 auto;           
}

.reporter-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;       
  object-fit: cover;
  border: 2px solid #3498db;
  padding: 3px;                
  background-color: #222;      
  margin-bottom: 10px;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}


.reporter-img:hover {
  transform: scale(1.1);                                   
  border-color: #5dade2;                                 
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);           
}

.reporter-role {
  font-size: 0.85rem;
  margin-bottom: 2px;
  font-weight: 500;
  color: #f0f0f0;
  text-align: center;
}

.reporter-name {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}













